@import "../../assets/styles/global.scss";

.navigation {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  background: $primary-background;
  color: $primary-color;

  &__list {
    display: flex;
    color: $primary-color;

    &--vertical {
      flex-direction: column;
    }

    &--horizontal {
      flex-direction: row;
    }

    &--active {
      display: none;
    }

    @include mq(xsmall) {
      &--active {
        display: flex;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  &__link {
    color: $primary-color;
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline;
  }
}
