@import "../../assets/styles/global.scss";

.navigation {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
  }

  &__modal-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__item {
    margin: 0 auto;
    padding: 10px;
    display: none;
  }

  &--burger {
    display: flex;
  }

  &__link {
    text-decoration: none;
    color: black;
  }

  &--modal {
    display: flex;
  }

  @include mq(xsmall) {
    &__list {
      flex-direction: row;
    }
    &__item {
      display: flex;
    }
    &--burger {
      display: none;
    }
  }
}
