@import "../../assets/styles/global.scss";

.navigation {
  display: sticky;

  &__list {
    display: flex;
    flex-direction: column;

    &--horizontal {
      flex-direction: row;
    }

    &--active {
      display: none;
    }

    @include mq(xsmall) {
      &--active {
        display: flex;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  &__link {
    color: black;
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline;
  }

  // @include mq(xsmall) {

  //   &__item {
  //     display: flex;
  //   }
  //   &--burger {
  //     display: none;
  //   }
  // }
}
