@import "../../assets/styles/global.scss";

.figures {
  width: 100%;
  padding-top: 100%;
  position: relative;

  &__figure {
    z-index: 1;
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    &--active {
      background-color: red;
    }
  }
}

.game {
  width: 100%;
}

.auth {
  display: flex;
}

.chess {
  width: 100%;
  margin: 0 auto;
  @include mq(medium) {
    width: 50%;
  }
  @include mq(large) {
    width: 40%;
    margin: 0 auto;
  }
}
