@import "../../assets/styles/global.scss";

.list-group {
  width: 100%;
  display: flex;
  list-style-type: none;

  &--vertical {
    flex-direction: column;
  }

  &--horizontal {
    flex-direction: row;
  }

  &__item {
    display: flex;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 15px;

    &--active {
      border: none;
      color: $primary-color;
      background: $primary-background;
    }

    &:last-child {
      border-bottom: 1px solid gray;
    }
  }
}
